# ================================

# DATABASE CONFIGURATION

# ================================

DB_HOST=postgres
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

# ================================

# AIRFLOW CONFIGURATION

# ================================

AIRFLOW_IMAGE_NAME=apache/airflow:3.2.0

# Required for permissions (Linux/Mac)

AIRFLOW_UID=50000
AIRFLOW_GID=0

# Core Airflow settings

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False

# Security (REPLACE in real usage)

AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key_here
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here

# ================================

# POSTGRES (DOCKER SERVICE)

# ================================

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# ================================

# EXTERNAL API KEYS

# ================================

COIN_CAP_API_KEY=your_api_key_here
